*.asm
*.lst
*.rst
*.sym
*.hex
*.ihx
*.lnk
*.mem
*.map
*.rel
*.sym
*.layout
*.adb
*.eep
*.elf
*.lss
*.o
pics/
tools/fontconvert/bin/
tools/fontconvert/obj/
tools/teensy-prog/client/bin/
tools/teensy-prog/client/obj/
tools/gfxconvert/bin/
tools/gfxconvert/obj/
tools/teensy-prog/teensy/.dep/

